<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let product of cartItems()" >
            <img src={{product.url}} alt={{product.name}} />
            <div class="cart-item-details">
                <h3>{{product.name}}</h3>
                <p>{{product.price | currency}}</p>
                <label>Amount: <input type="number" value={{product.quantity}} min="0" name={{product.id}} #quantity 
                    (change)="changeNumber($event)">
                </label>
            </div>
        </div>
        <div><h3>Total: <span>{{amount() | currency}}</span></h3></div>
    </div>

    <div class="checkout-form">
        <h2>Checkout</h2>
        <form (ngSubmit) = onSubmit() #form="ngForm">
            <label for="name">Full name</label>
            <input type="text" id="name" name="name" placeholder="Andy Brinker" required minlength="3" [(ngModel)]="customerName" #name="ngModel">
            
            
            <label for="address">Address</label>
            <input type="text" id="address" name="address" placeholder="1234 Main St" required minlength="12" [(ngModel)]="address" #adress="ngModel">

            <label for="cc-number">Credit card number</label>
            <input type="text" id="cc-number" name="cc-number" placeholder="(16-digit number)" required minlength="16" pattern="\d{16,16}" [(ngModel)]="cardNumber" #ccard="ngModel">

            <small>We'll never share your payment details with anyone else.</small>

            <button type="submit" [disabled]='form.invalid || amount() == 0'>Submit</button>
        </form>
        <div *ngIf="name.invalid && name.dirty">
              The name must contain at least 3 characters.
        </div>
        <div *ngIf="adress.invalid && adress.dirty">
            The adress must contain at least 12 characters.
      </div>
      <div *ngIf="ccard.invalid && ccard.dirty">
        The credit card must contain at least 16 digits.
        </div>
    </div>
</div>