
    <!-- <div class="product-index" *ngFor="let product of products">
        <img src={{product.url}}} alt="Book">
        <h3>{{product.name}}</h3>
        <p>${{product.price}}</p>
        <label>
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <button>Add to cart</button>
    </div> -->

<div class="product-container">
    <app-product-item class="product-index" *ngFor="let product of products()" [product]="product"></app-product-item>
</div>